@import "tailwindcss";

html{
  scroll-behavior: smooth;
}

body{
  @apply
  text-lime-600;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 1px;
  line-height: 25px;
}

button{
  @apply
 bg-lime-600;
 color: white;
 padding:0.6rem 1rem;
 border-radius: 8px;
 cursor: pointer;
}

button:hover{
  @apply
  opacity-90;
}

a{
  @apply transition-transform duration-300 hover:scale-[1.2];
}

h1{
  @apply text-2xl font-bold;
}

input,select,textarea{
  @apply border border-lime-600 p-2 rounded-md text-gray-700 bg-gray-100 focus:outline-none;
}

.select-category{
  @apply flex justify-center w-24 sm:w-32 font-semibold py-1 rounded-4xl text-sm border border-lime-600 cursor-pointer; 
}
